@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
}

:root{
    --main-font-color: black;
    --main-bg-color: rgb(255, 253, 251);
    --main-boarder-color: rgb(82, 81, 81);
    --second-bg-color:  rgb(202, 202, 202);
}

button{
    background-color: var(--second-bg-color);
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
}

.container{
    height: 100vh;
    display: grid;
    text-transform: uppercase;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "nav header"
        "nav content";
    background-color: var(--main-bg-color);
}

header{
    padding: 1rem 2rem;
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "searchBar userSmall"
        "userLarge actions";
    align-items: center;
    border-bottom: 2px solid;
}

#searchBar{
    grid-area: searchBar;
    position:relative;
}

#searchBar .icon{
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
}

#searchBar input{
    border: 2px solid;
    border-radius: 20px;
    width: 80%;
    background-color: var(--second-bg-color);
    height: 1.75rem;
    padding: 0.25rem;
    padding-left: 2rem;
}

#user.small{
    grid-area: userSmall;
    display: grid;
    height: 100%;
    min-width: 150px;
    max-width: 30ch;
    grid-template-columns: 4rem 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "userImage username";
    justify-self: end;
    align-items: center;
    justify-items: center;
}

#user.small>.userImage{
    grid-area: userImage;
    border: 2px solid black;
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./star.jpg);
    background-size: 4rem;
    background-position: center;
    background-repeat:no-repeat;
}

#user.small>.username{
    grid-area: username;
    font-weight: 600;
    justify-self: start;
}

#user.large{
    grid-area: userLarge;
    display: grid;
    height: 100%;
    min-width: 200px;
    grid-template-columns: 6rem 2fr;
    grid-template-rows: 1.5fr 2fr;
    grid-template-areas: 
        "userImage greeting"
        "userImage username";
    align-items: center;
    justify-items: center;
}

#user.large>.userImage{
    grid-area: userImage;
    border: 2px solid black;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    background-image: url(./star.jpg);
    background-size: 6rem;
    background-position: center;
    background-repeat:no-repeat;
}

#user.large>.greeting{
    grid-area: greeting;
    justify-self: start;
    align-self: end;
    font-size: 0.8rem;

}

#user.large>.username{
    grid-area: username;
    font-weight: 600;
    justify-self: start;
    font-size: 1.5rem;
}

#actions{
    grid-area: actions;
    list-style: none;
    align-items: center;
    justify-items: center;
    justify-self: end;
}

#actions>li{
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 5fr 5fr;
    grid-template-areas: 
        "logoArea"
        "siteNav"
        "siteSet";
    align-items: center;
    border-right: 2px solid;
}

.logoArea{
    grid-area: logoArea;
}

#siteNav{
    grid-area: siteNav;
}

#siteSet{
    grid-area: siteSet;
}

#content{
    grid-area: content;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 0.25fr 1fr 1fr;
    grid-template-areas: 
        "c1 c1 c2 c3"
        "c1 c1 c2 c3"   
        "c4 c5 c2 c3"
        "c4 c5 c6 c6"
        "c4 c5 c6 c6";
    align-items: center;
    justify-items: center;
}

#content>*{
    border-radius: 1rem;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

#content>.c1{
    grid-area: c1;
}

#content>.c2{
    grid-area: c2;
}

#content>.c3{
    grid-area: c3;
}

#content>.c4{
    grid-area: c4;
}

#content>.c5{
    grid-area: c5;
}

#content>.c6{
    grid-area: c6;
}


















@media (max-width: 500px) {
    .container{
        height: 100vh;
        display: grid;
        text-transform: uppercase;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 10fr;
        grid-template-areas: 
            "header"
            "nav"
            "content";
    }
    
    header{
        background-color: rgb(0, 163, 163);
        grid;
        grid-area: header;
    }
    
    nav{
        background-color: rgb(20, 126, 187);
        grid-area: nav;
    }
    
    #content{
        background-color: aqua;
        grid-area: content;
    }
}