@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
}

:root{
    --main-font-color: black;
    --main-bg-color: rgb(255, 253, 251);
    --main-boarder-color: rgb(82, 81, 81);
    --second-bg-color:  rgb(82, 81, 81);
}

.container{
    height: 100vh;
    display: grid;
    text-transform: uppercase;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "nav header"
        "nav content";
    background-color: var(--main-bg-color);
    background-o
}

header{
    padding: 1rem;
    grid-area: header;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "searchBar userSmall"
        "userLarge actions";
    align-items: center;
    border-right: 2px solid var(--main-border-color);
}

#searchBar{
    grid-area: searchBar;
}

#user.small{
    grid-area: userSmall;
}
#user.large{
    grid-area: userLarge;
}
#actions{
    grid-area: actions;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas: 
        "logoArea"
        "siteNav"
        "siteSet";
    align-items: center;
}

.logoArea{
    grid-area: logoArea;
}

#siteNav{
    grid-area: siteNav;
}

#siteSet{
    grid-area: siteSet;
}

#content{
    grid-area: content;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 0.25fr 1fr 1fr;
    grid-template-areas: 
        "c1 c1 c2 c3"
        "c1 c1 c2 c3"   
        "c4 c5 c2 c3"
        "c4 c5 c6 c6"
        "c4 c5 c6 c6";
    align-items: center;
    justify-items: center;
}

#content>*{
    border-radius: 1rem;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

#content>.c1{
    grid-area: c1;
}

#content>.c2{
    grid-area: c2;
}

#content>.c3{
    grid-area: c3;
}

#content>.c4{
    grid-area: c4;
}

#content>.c5{
    grid-area: c5;
}

#content>.c6{
    grid-area: c6;
}


















@media (max-width: 500px) {
    .container{
        height: 100vh;
        display: grid;
        text-transform: uppercase;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 10fr;
        grid-template-areas: 
            "header"
            "nav"
            "content";
    }
    
    header{
        background-color: rgb(0, 163, 163);
        grid;
        grid-area: header;
    }
    
    nav{
        background-color: rgb(20, 126, 187);
        grid-area: nav;
    }
    
    #content{
        background-color: aqua;
        grid-area: content;
    }
}